.login-parent-container{
  position:fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;

}


.login-parent-container h1 {
  font-size: 36px;
  text-align: center;
  font-family: "Alice", serif;
}

.form-container {
  background-color: rgba(235, 115, 17, 1);
  border-radius: 10px;
  border: 8px;
  width: 360px;
  padding: 70px 40px;
  animation: "dropTop .3s linear";
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
}


.email-container, .password-container{
  position: relative;
  width: 95%;
  height: 40px;
  margin: 50px 0;
}

.login-parent-container input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding:10px 10px;
  font-size: 16px;
  border-radius: 10px;
  color: black;
}



.loginBtn {
  width: 100%;
  height: 60px;
  background: black;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 700;
  margin-top:1%;
}

.closeBtn-cont{
  display:flex;
  justify-content: end;
  margin-top:-10%;
  margin-bottom:-5%;
}

.closeBtn{
  width:20px;
  height:30px;
  cursor: pointer;
}